/* Css for the selecquiz component */

#selectquiz-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;
}

.btn-quiz {
    padding: 20px;
    font-size: 30px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px black;
}

